*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --primary_color: #0066FF;
    --primary_color-rgb: 0,102,255;
    --primary_color_contrast: #0b58ca;
    --success_color: #16bd2f;
    --primary_color_background: #fff;
    --secondary_color_background: #1c1c1c;
}
#container-working {
    display: inline;
    position: relative;
    justify-content: center;
    margin: auto;
}

#working-label {
    color: var(--primary_color);
    display: block;
    font-size: 2em;
    margin: 1em;
    text-align: center;
}

#working-svg {
    display: block;
    margin: auto;
    width: 70%;
}

#descripcion {
    color: #7A7A7A;
    font-size: 22px;
    line-height: 1.4em;
}

.container-aviso {
    background-color: #FFFFFF;
    margin: 0 70px;
    position: sticky;
    text-align: center;
    top: 10px;
    z-index: 100;
}

#aviso-notificacion {
    border-radius: 6px;
    background-color: rgba(0,255,0, 0.25);
    font-size: .9em;
    font-style: italic;
    padding: 25px 20px;
}

body{
    background-color: var(--primary_color_background);

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    width: 100%;
    max-width: 2000px;
}

b {
    color: var(--primary_color);
}

.carousel-inner img {
    border-radius: 10px;
}

/* NAV */
.header {
    font-size: 1em;
}

.header__navbar {
    display: flex;
    color: var(--primary_color);
    background-color: rgba(255, 255, 255, 1);
    padding: 15px 20px ;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    position: relative;
    z-index: 200;
}

.logo-icon {
    width: 4em;
}

.header__navbar-title {
    font-size: 2.7em;
}

.header__navbar-btnmenu {
    cursor: pointer;
    font-size: 1.7em;
}

.header__nav-link .logo-icon {
    display: none;
}

.menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    background-color: var(--primary_color);
    width: 100%;
    margin-left: -100%;
    position: absolute;
    transition: all 0.5s;
}

.menu__item a.active p {
    border-bottom: 3px solid white;
    color: white;
    font-weight: 700;
}

.menu__item a:hover {
    font-weight: 700;
    background-color: white;
    
}

.menu__item a:hover, .menu__item a:hover p {
    color: var(--primary_color);
}

.menu__item a p{
    display: inline;
}

.menu__item .menu__link:hover p{
    border-bottom: 5px solid var(--primary_color);
}

.menu__link, .submenu__link {
    display: block;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.menu__icon {
    font-size: 2em;
    display: none;
}

.submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.submenu .submenu__link {
    background-color: var(--primary_color_contrast);
    padding: 0.8em 0 0.8em 2em;
}

.submenu__item a.active{
    color: white;
}

.mostrar {
    margin-left: 0;
}

.content__btn {
    display: flex;
    height: 3.1em;   /**/
    margin: 5px 0;    /**/
    justify-content: center;
}

.content__btn a {
    margin: 0 5px;
}

.sbx-custom {
    display: inline-block;
    position: relative; /**/
    width: 100%;
    height: 50px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 16px;
    /* margin: 5px; */
    /* right: 1em; */
}

.sbx-custom__wrapper {
    width: 95%;    /**/
    height: 100%;
    padding-left: 15px;
}

.sbx-custom__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px #CCCCCC;
    background: #FFFFFF;
    padding: 0;
    padding-right: 41px;
    padding-left: 51px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
    display: none;
}

.sbx-custom__input:hover {
    box-shadow: inset 0 0 0 2px #b3b3b3;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 2px var(--primary_color);
    background: #FFFFFF;
}

.sbx-custom__input::-webkit-input-placeholder {
    color: #BBBBBB;
}

.sbx-custom__input::-moz-placeholder {
    color: #BBBBBB;
}

.sbx-custom__input:-ms-input-placeholder {
    color: #BBBBBB;
}

.sbx-custom__input::placeholder {
    color: #BBBBBB;
}

.sbx-custom__submit {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0px 10px;
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 51px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
}

.sbx-custom__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
    cursor: pointer;
}

.sbx-custom__submit:focus {
    outline: 0;
}

.sbx-custom__submit svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    fill: var(--primary_color);
}

@-webkit-keyframes sbx-reset-in {
    0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
    }
    100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    }
}

@keyframes sbx-reset-in {
    0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
    }
    100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    }
}

.content__btn__link {
    text-decoration: none;
    font-size: 1.1em;
    padding: 15px 30px;
    border-radius: 5px;
    transition : 500ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-registro {
    color: #fff;
    background-color: var(--primary_color);
    border: 2px solid #FFFFFF;
    /* width: 50%; */
}

.btn-inicio {
    color: var(--primary_color);
    background-color: #fff;
    border: 2px solid var(--primary_color);
    /* width: 50%; */
}


/* SMARTPHONE PEQUEÑO */
@media screen and (max-height: 750px) {
    .header__navbar {
        font-size: 0.8em;
    }

    .header__nav {
        font-size: 0.8em;
    }

    .menu .menu__item a {
        padding: 1em;
    }

    .submenu .submenu__item a {
        padding: 0.8em 0 0.8em 2em;
    }

}

/* DESKTOP */
@media screen and (min-width: 1000px) and (max-width: 1549px) {
    .header__navbar {
        display: none;
    }
    
    .header__nav {
        display: flex;
        margin: 1.2em 1.2em 0px;
    }

    .header__nav .logo-icon {
        display: block;
        /* margin-right: 1em; */
    }
    
    .menu {
        margin-top: 5px;
        display: flex;
        position: relative;
        background-color: white;
        margin-left: 0;
        transition: all 0s;
    }

    .menu__icon {
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }

    .menu__item a:hover .menu__icon, a.active .menu__icon{
        /* filter: invert(32%) sepia(96%) saturate(5284%) hue-rotate(212deg) brightness(103%) contrast(104%); */
        color: var(--primary_color);
    }

    .menu__item a {
        color: #7A7A7A;
        padding-bottom: 10px;
    }

    .menu__item a.active p {
        border-bottom: 4px solid var(--primary_color);
        color: var(--primary_color);
        font-weight: 700;
    }

    .menu__item a:hover{
        font-weight: 600;
        color: var(--primary_color);
    }

    .menu__link {
        display: block;
        padding: 0 1em;
        margin: 0 0.5em;    /**/
        color: white;
        font-size: 0.9em;   /**/
        text-decoration: none;
    }

    .desplegable {
        display: block;
        margin: auto;
        padding: 5px 0;
    }
    
    .container-submenu {
        position: relative;
    }

    .submenu {
        position: absolute;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: all 0s;
    }

    .submenu__link {
        margin: 0 1em;
        font-size: .9em;   /**/
        text-decoration: none;
    }

    .submenu__item a p{
        color: #7A7A7A;
        padding-bottom: 10px;
    }
    
    .submenu .submenu__link {
        background-color: white;
        padding: 1em;
        width: 130px;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }

    .content__btn {
        display: flex;
        height: 3.3em;   /**/
        margin-top: -1px;
    }

    .content__btn a {
        margin: 0 5px;
    }

    .sbx-custom {
        display: inline-block;
        position: relative;
        /* width: 200px; */
        height: 51px;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 16px;
    }
    
    .sbx-custom__wrapper {
        width: 100%;    /**/
        height: 100%;
    }
    
    .sbx-custom__input {
        display: inline-block;
        -webkit-transition: box-shadow .4s ease, background .4s ease;
        transition: box-shadow .4s ease, background .4s ease;
        border: 0;
        border-radius: 6px;
        box-shadow: inset 0 0 0 2px #CCCCCC;
        background: #FFFFFF;
        padding: 0;
        padding-right: 41px;
        padding-left: 51px;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        white-space: normal;
        font-size: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    }
    
    .sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
        display: none;
    }
    
    .sbx-custom__input:hover {
        box-shadow: inset 0 0 0 2px #b3b3b3;
    }
    
    .sbx-custom__input:focus, .sbx-custom__input:active {
        outline: 0;
        box-shadow: inset 0 0 0 2px var(--primary_color);
        background: #FFFFFF;
    }
    
    .sbx-custom__input::-webkit-input-placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__input::-moz-placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__input:-ms-input-placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__input::placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__submit {
        position: absolute;
        top: 0;
        right: inherit;
        left: 0;
        margin: 0 10px;
        border: 0;
        border-radius: 5px 0 0 5px;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        width: 51px;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: inherit;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
                user-select: none;
    }
    
    .sbx-custom__submit::before {
        display: inline-block;
        margin-right: -4px;
        height: 100%;
        vertical-align: middle;
        content: '';
    }
    
    .sbx-custom__submit:hover, .sbx-custom__submit:active {
        cursor: pointer;
    }
    
    .sbx-custom__submit:focus {
        outline: 0;
    }
    
    .sbx-custom__submit svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        fill: var(--primary_color);
    }
    
    @-webkit-keyframes sbx-reset-in {
        0% {
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
        opacity: 0;
        }
        100% {
        -webkit-transform: none;
                transform: none;
        opacity: 1;
        }
    }
    
    @keyframes sbx-reset-in {
        0% {
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
        opacity: 0;
        }
        100% {
        -webkit-transform: none;
                transform: none;
        opacity: 1;
        }
    }
    

    .content__btn__link {
        text-decoration: none;
        font-size: 0.9em;   /**/
        padding: 1em 1em;   
        border-radius: 5px;
        transition : 500ms;
        transform: translateY(0);
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        white-space: pre;
    }
    
    .btn-registro {
        color: #fff;
        background-color: var(--primary_color);
        border: 2px solid var(--primary_color);
    }

    .btn-registro:hover {
        transition : 500ms;
        padding: 1em 1.4em;     /**/
        transform : translateY(-0px);
        background-color: #fff;
        color: var(--primary_color);
        border: 2px solid var(--primary_color);
        font-weight: 600;
    }

    .btn-inicio {
        color: var(--primary_color);
        background-color: #fff;
        border: 2px solid var(--primary_color);
    }

    .btn-inicio:hover {
        transition : 500ms;
        padding: 1em 1.4em;     /**/
        transform : translateY(-0px);
        background-color: var(--primary_color);
        color: #fff;
        border: 2px solid #fff;
        font-weight: 600;
    }
}

@media screen and (min-width: 1550px) {
    .header__navbar {
        display: none;
    }
    
    .header__nav {
        display: flex;
        margin: 1.2em 1.2em 0px;
    }

    .header__nav .logo-icon {
        display: block;
        margin-right: 1em;
    }
    
    .menu {
        margin-top: 5px;
        display: flex;
        position: relative;
        background-color: white;
        margin-left: 0;
        transition: all 0s;
    }

    .menu__icon {
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }

    .menu__item a:hover .menu__icon, a.active .menu__icon{
        /* filter: invert(32%) sepia(96%) saturate(5284%) hue-rotate(212deg) brightness(103%) contrast(104%); */
        color: var(--primary_color);
    }

    .menu__item a {
        color: #7A7A7A;
        padding-bottom: 10px;
    }

    .menu__item a.active p {
        border-bottom: 4px solid var(--primary_color);
        color: var(--primary_color);
        font-weight: 700;
    }

    .menu__item a:hover{
        font-weight: 600;
        color: var(--primary_color);
    }

    .menu__link {
        display: block;
        padding: 0 1.5em;
        margin: 0 1.8em;
        color: white;
        font-size: 1.05em;
        text-decoration: none;
    }

    .desplegable {
        display: block;
        margin: auto;
        padding: 5px 0;
    }

    .submenu-btn .fa-angle-down {
        justify-items: center;
    }

    .submenu__link {
        margin: 0 1em;
        font-size: 1.05em;
        text-decoration: none;
    }

    .container-submenu {
        position: relative;
    }

    .submenu {
        position: absolute;
        /* top: 90px; */
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: all 0s;
    }

    .submenu__item a p{
        color: #7A7A7A;
        padding-bottom: 10px;
        margin-right: 30px;
    }

    .submenu .submenu__link {
        background-color: white;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }

    .content__btn {
        display: flex;
        height: 55px;
        margin-top: -1px;
    }

    .content__btn a {
        margin: 0 5px;
    }

    .sbx-custom {
        display: inline-block;
        position: relative;
        /* width: 400px; */
        height: 51px;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 16px;
    }
    
    .sbx-custom__wrapper {
        width: 100%;
        height: 100%;
    }
    
    .sbx-custom__input {
        display: inline-block;
        -webkit-transition: box-shadow .4s ease, background .4s ease;
        transition: box-shadow .4s ease, background .4s ease;
        border: 0;
        border-radius: 6px;
        box-shadow: inset 0 0 0 2px #CCCCCC;
        background: #FFFFFF;
        padding: 0;
        padding-right: 41px;
        padding-left: 51px;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        white-space: normal;
        font-size: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    }
    
    .sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
        display: none;
    }
    
    .sbx-custom__input:hover {
        box-shadow: inset 0 0 0 2px #b3b3b3;
    }
    
    .sbx-custom__input:focus, .sbx-custom__input:active {
        outline: 0;
        box-shadow: inset 0 0 0 2px var(--primary_color);
        background: #FFFFFF;
    }
    
    .sbx-custom__input::-webkit-input-placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__input::-moz-placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__input:-ms-input-placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__input::placeholder {
        color: #BBBBBB;
    }
    
    .sbx-custom__submit {
        position: absolute;
        top: 0;
        right: inherit;
        left: 0;
        margin: 0 10px;
        border: 0;
        border-radius: 5px 0 0 5px;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        width: 51px;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: inherit;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
                user-select: none;
    }
    
    .sbx-custom__submit::before {
        display: inline-block;
        margin-right: -4px;
        height: 100%;
        vertical-align: middle;
        content: '';
    }
    
    .sbx-custom__submit:hover, .sbx-custom__submit:active {
        cursor: pointer;
    }
    
    .sbx-custom__submit:focus {
        outline: 0;
    }
    
    .sbx-custom__submit svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        fill: var(--primary_color);
    }
    
    @-webkit-keyframes sbx-reset-in {
        0% {
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
        opacity: 0;
        }
        100% {
        -webkit-transform: none;
                transform: none;
        opacity: 1;
        }
    }
    
    @keyframes sbx-reset-in {
        0% {
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0);
        opacity: 0;
        }
        100% {
        -webkit-transform: none;
                transform: none;
        opacity: 1;
        }
    }
    

    .content__btn__link {
        text-decoration: none;
        font-size: 1.1em;
        padding: 15px 30px;
        border-radius: 5px;
        transition : 500ms;
        transform: translateY(0);
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        display: flex;
        white-space: pre;
    }
    
    .btn-registro {
        color: #fff;
        background-color: var(--primary_color);
        border: 2px solid var(--primary_color);
    }

    .btn-registro:hover {
        transition : 500ms;
        padding: 15px 50px;
        transform : translateY(-0px);
        background-color: #fff;
        color: var(--primary_color);
        border: 2px solid var(--primary_color);
        font-weight: 600;
    }

    .btn-inicio {
        color: var(--primary_color);
        background-color: #fff;
        border: 2px solid var(--primary_color);
    }

    .btn-inicio:hover {
        transition : 500ms;
        padding: 15px 50px;
        transform : translateY(-0px);
        background-color: var(--primary_color);
        color: #fff;
        border: 2px solid #fff;
        font-weight: 600;
    }
}

/*MAIN*/
.main {
    margin: 5px 50px;
    padding-top: 5px;
}

.main__section {
    display: flex;
}

.main__section__article {
    width: 50%;
    padding: 10px;
}

.content__btn-about {
    text-align: center;
}

.btn-about {
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 1em;
    padding: 15px 30px;
    border-radius: 5px;
    transition : 500ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
}

.btn-about:hover {
    transition : 500ms;
    padding: 15px 50px;
    transform : translateY(-0px);
    background-color: #fff;
    color: var(--primary_color);
    border: 2px solid var(--primary_color);
    font-weight: 600;
}

@media screen and (max-width: 1300px) {
    .main__section {
        display: block;
    }

    .main__section__article {
        width: 100%;
        margin: 0 10px;
    }
} 

@media screen and (max-height: 920px) {
    #descripcion {
        font-size: 1.1em;
    }

    .main {
        margin: 5px 20px 0px;
        padding-top: 10px;
    }
}

@media screen and (max-height: 670px) {
    #descripcion {
        font-size: 0.85em;
    }

    .main {
        margin: 0px 20px;
        padding-top: 5px;
    }
}

/* SLIDE */
.main__section__article-slide {
    position: relative;
    max-width: 1000px;
    width: 100%;
    /* border-radius: 6px; */
    overflow: hidden;
}

.main__section__article-slide img {
    max-width: 100%;
    border-radius: 5px;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.slide__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primary_color);
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0px 5px;
    text-align: center;
    transition: all 300ms;
}

.pagination__item:hover {
    transform: scale(1.5);
}

.pagination__item img {
    display: inline-block;
    height: 100%;
    max-width: none;
    opacity: 0;
    transform: scale(1);
    transition: all 300ms;
}

.pagination__item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination__item[for="1"] {
    background-color: #FFFFFF;
}

input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination__item[for="2"] {
    background-color: #FFFFFF;
}

input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination__item[for="3"] {
    background-color: #FFFFFF;
}

@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

/* FOOTER */
.footer {
    background-color: var(--primary_color);
    color: white;
    display: inline;
    margin-top: auto;
    width: 100%;
}

.footer .footer__group {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1200px;
    padding: 10px 0px;
    width: 100%;
}

.footer .footer__group .footer__group__box figure {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.footer .footer__group .footer__group__box figure img{
    width: 120px;
}

.footer .footer__group .footer__group__box h2{
    font-size: 16px;
    margin: 10px 0 25px;
}

.footer .footer__group .footer__group__box .red-social a{
    background-color: white;
    border-radius: 50%;
    color: var(--primary_color);
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease;
    width: 35px;
}

.footer .footer__group .footer__group__box .red-social a:hover {
    background-color: var(--primary_color_contrast);
    border: 1px solid white;
    color: white;
}

.footer .footer__copy {
    color: white;
    padding: 5px 10px 15px;
    text-align: center;
}

.footer .footer__copy small {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .footer .footer__group {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        justify-items: center;
        margin-top: 10px;
        padding: 0px 0px;
        width: 90%;
    }

    .footer .footer__group .footer__group__box h2{
        font-size: 15px;
        margin-bottom: 15px;
    }

    .footer .footer__group .footer__group__box figure img{
        width: 90px;
    }

    .footer .footer__group .footer__group__box .red-social a{
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    .footer .footer__copy {
        color: white;
        padding: 5px 10px;
        text-align: center;
    }

    .footer .footer__copy small {
        font-size: 13px;
    }
}


/* TI-RADS */
.main h1 {
    color: var(--primary_color);
    font-size: 2.5em;
    text-align: center;
    margin: 5px 0;
}

.main-tirads__section, .main-volumen__section {
    display: flex;
    margin-bottom: 20px;
}

.section-tirads__article, .section-volumen__article {
    margin: 0 70px;
    min-width: 480px;
    width: 50%;
    text-align: center;
}

.section-tirads__article .calculator-title, .section-tirads__article-puntaje .calculator-title, .section-volumen__article .calculator-title {
    background-color: #FFFFFF;
    display: inline;
    font-size: 1.7em;
    padding: 20px;
    position: relative;
    top: 20px;
}

.article-tirads__border, .article-tirads__border-puntaje, .article-volumen__border, .article-volumen__border-puntaje {
    border: 5px solid #000000;
    border-radius: 8px;
    min-width: 480px;
}

.article-tirads__content, .article-tirads__content-puntaje {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.content-tirads__column {
    display: grid;
    line-height: 80px;
    padding: 5px;
    text-align: left;
}

.content-tirads__column label {
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.content-tirads__column .tirads-ubicacion__label {
    color: grey;
    cursor: default;
    font-size: 1em;
    position: relative;
    white-space: nowrap;
}

.content-tirads-column__img-ubicacion {
    position: relative;
    padding: 0 5px;
    max-width: 10em;
    min-width: 120px;
    width: 100%;
}

.article-tirads__content-row {
    margin: 20px 40px;
    display: block;
    position: relative;
    justify-items: space-between;
}

.content-tirads__row, .content-volumen__row {
    margin: 47px 0;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.content-tirads__row label, .content-volumen__row label {
    font-size: 1.2em;
    line-height: 40px;
    padding: 5px;
    position: relative;
    width: 30%;
}

.content-tirads__row input, .content-volumen__row input {
    text-align: center;
    font-size: 1.05em;
    min-width: 30%;
    max-width: 45%;
}

.content-tirads__row input:hover, .content-tirads__row input:focus, .content-volumen__row input:hover, .content-volumen__row input:focus {
    border: 2px solid rgba(var(--primary_color-rgb),0.4);
    box-shadow: rgba(var(--primary_color-rgb),0.2) 0px 7px 29px 0px;
}

.article-tirads__content-composicion {
    margin: 20px 40px;
    display: block;
    justify-content: space-between;
}

.article-tirads__content-composicion .content-tirads__column {
    line-height: 60px;
    padding: 10px 5px;
}

.content-tirads__info, .content-pirads__info {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
}

.btn-info, .btn-copy, .btn-generate {
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.1em;
    padding: 15px 30px;
    text-decoration: none;
    flex-direction: row;
    transform: translateY(0);
    transition: all 500ms;
}

.btn-info:hover, .btn-copy:hover, .btn-generate:hover {
    background-color: #FFFFFF;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
    font-weight: 600;
    padding: 15px 50px;
    transform : translateY(-0px);
    transition: all 500ms;
}

.content-tirads__info .lbl-puntos, .content-pirads__info .lbl-puntos {
    font-size: 1.1em;
    position: relative;
    display: inline;
    justify-content: end;
}

.lbl-puntos input {
    border-radius: 30px;
    line-height: 1.6em;
    text-align: center;
    font-size: 1.4em;
    width: 100px;
    border: 2px solid rgba(var(--primary_color-rgb),0.4);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.article-tirads__content-calcificaciones {
    margin: 20px 40px;
    display: block;
    justify-content: space-between;
}

.article-tirads__content-calcificaciones .content-tirads__column {
    line-height: 75px;
    padding: 10px 5px;
}

.article-tirads__content-formato {
    margin: 40px 40px;
    display: block;
    justify-content: space-between;
}

.article-tirads__content-formato .content-tirads__column {
    line-height: 80px;
    padding: 10px 5px;
}

.article-tirads__content-chammas {
    margin: 10px 40px;
    display: block;
    justify-content: space-between;
}

.article-tirads__content-chammas .content-tirads__column {
    line-height: 42px;
    padding: 20px 5px 10px;
}

.section-tirads__article-puntaje, .section-volumen__article-puntaje {
    margin: 0 70px;
    width: 100%;
    text-align: center;
}

.content-tirads__column-puntaje, .content-tirads__column-text {
    display: block;
    padding: 40px;
    text-align: center;
    width: 50%;
}

.content-tirads__column-puntaje h2{
    cursor: default;
    font-size: 1.8em;
    margin: 20px;
}

.content-tirads__text-puntaje{
    display: inline;
    font-size: 1.3em;
    text-align: center;
}

.content-tirads__column-puntaje .caracteristicas , h3{
    cursor: default;
    font-size: 1.4em;
    margin: 20px;
}

.content-tirads__column-text h2{
    cursor: default;
    font-size: 1.2em;
    margin: 20px;
}

.content-tirads__column-text textarea {
    cursor: default;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    height: 170px;
    margin-bottom: 10px;
    padding: 5px 10px;
    position: relative;
    opacity: 70%;
    resize: none;
    width: 280px;
}

.content-tirads__column-text textarea:focus {
    border: 2px solid rgba(var(--primary_color-rgb),0.5);
    box-shadow: rgba(var(--primary_color-rgb),0.2) 0px 7px 29px 0px;
}

.content-btn {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
}

.radio .radio-input {
    float: left;
    margin-left: -1.5em;
}

.radio-input {
    width: 20px;
    height: 20px;
    margin-top: 0.25em;
    margin-right: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    
    vertical-align: sub;
}

.radio-input {
    border-radius: 50%;
}

.radio-input:active {
    filter: brightness(90%);
}

.radio-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.radio-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.radio-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.radio-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
}

.radio-input[disabled]~.form-check-label,
.radio-input:disabled~.form-check-label {
    opacity: 0.5;
}

.btn-copy, .btn-generate {
    background-color: #FFFFFF;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
}

.btn-copy:hover, .btn-generate:hover {
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
    color: #FFFFFF;
    font-weight: 600;
}
.btn-generate {
    border: 2px solid var(--success_color);
    color: var(--success_color);
}

.btn-generate:hover {
    background-color: var(--success_color);
    border: 2px solid var(--success_color);
}

.swal2-popup {
    font-size: .8em !important;
}

@media screen and (max-width: 1400px) {
    .main {
        margin: 5px 30px;
    }

    .container-aviso {
        margin: 0 20px;
    }

    .section-tirads__article, .section-volumen__article {
    margin: 0 20px;
    min-width: 300px;
    width: 50%;
    text-align: center;
    }

    .article-tirads__border, .article-tirads__border-puntaje, .article-volumen__border, .article-volumen__border-puntaje {
        border: 5px solid #000000;
        border-radius: 8px;
        min-width: 300px;
    }

    .section-tirads__article-puntaje, .section-volumen__article-puntaje {
        margin: 0 20px;
    }

    .main h1 {
        font-size: 2em;
    }
    
    .section-tirads__article .calculator-title, .section-tirads__article-puntaje .calculator-title, .section-volumen__article .calculator-title, .section-volumen__article-puntaje .calculator-title {
        font-size: 1.5em;
        top: 16px;
    }

    .content-tirads__column label {
        font-size: 1.05em;
    }

    .content-tirads__column .tirads-ubicacion__label {
        font-size: .8em;
    }
    
    .content-tirads__row label, .content-volumen__row label {
        font-size: 1.05em;
    }
    
    .btn-info, .btn-copy {
        font-size: .9em;
        padding: 15px 20px;
    }

    .btn-info:hover, .btn-copy:hover {
        padding: 15px 35px;
    }

    .content-tirads__info, .content-pirads__info {
        padding: 0px;
    }

    .content-tirads__info .lbl-puntos, .content-pirads__info .lbl-puntos{
        font-size: .9em;
    }
    
    .lbl-puntos input {
        line-height: 1.6em;
        font-size: 1.4em;
        width: 60px;
    }

    .content-tirads__column-puntaje .caracteristicas , h3{
        font-size: 1.2em;
    }

} 

@media screen and (max-width: 920px) {
    .container-aviso {
        margin: 0;
    }

    .main-tirads__section, .main-volumen__section {
        display: block;
    }

    .section-tirads__article, .section-tirads__article-puntaje, .section-volumen__article, .section-volumen__article-puntaje {
        width: 100%;
        margin: 0;
    }

    .main h1 {
        font-size: 1.8em;
        margin-top: 0;
    }
    
    .section-tirads__article .calculator-title, .section-tirads__article-puntaje .calculator-title, .section-volumen__article .calculator-title, .section-volumen__article-puntaje .calculator-title {
        font-size: 1.4em;
        margin-top: 5px;
        padding: 0 20px;
    }
    
    .article-tirads__content {
        margin: 5px;
    }
    
    .content-tirads-column__img-ubicacion {
        padding: 0;
        max-width: 7em;
    }
    
    .article-tirads__content-row {
        margin: 0 5px;
    }
    
    .content-tirads__row, .content-volumen__row {
        margin: 35px 0;
    }
    
    .content-tirads__row label, .content-volumen__row {
        line-height: 30px;
    }
    
    .article-tirads__content-composicion {
        margin: 5px;
    }
    
    .article-tirads__content-composicion .content-tirads__column {
        line-height: 60px;
        padding: 5px;
    }
    
    .content-tirads__info, .content-pirads__info {
        padding: 5px;
    }
    
    .btn-info, .btn-copy {
        padding: 10px 20px;
    }
    
    .btn-info:hover, .btn-copy:hover {
        padding: 10px 30px;
    }
    
    .article-tirads__content-calcificaciones {
        margin: 5px;
    }
    
    .article-tirads__content-calcificaciones .content-tirads__column {
        line-height: 60px;
        padding: 5px;
    }
    
    .article-tirads__content-formato {
        margin: 5px;
    }
    
    .article-tirads__content-formato .content-tirads__column {
        line-height: 60px;
        padding: 5px;
    }
    
    .article-tirads__content-chammas {
        margin: 5px;
    }
    
    .article-tirads__content-chammas .content-tirads__column {
        line-height: 60px;
        padding: 5px;
    }

    
    .section-tirads__article-puntaje, .section-volumen__article-puntaje {
        margin: 0;
    }
    
    .article-tirads__content-puntaje {
        display: block;
        margin: 5px;
    }

    .content-tirads__column-puntaje, .content-tirads__column-text {
        padding: 5px;
        width: 100%;
    }
    
    .content-tirads__column-puntaje .caracteristicas , h3{
        display: block;
        margin: 0 10px;
        padding: 10px;
    }
    
    .content-tirads__column-text p{
        margin-bottom: 5px;
    }

    .content-tirads__column-text textarea {
        font-size: 1em;
    }
}

@media screen and (max-width: 740px) {
    .main {
        margin: 5px;
        padding-top: 5px;
    }

    
    .section-tirads__article .calculator-title, .section-tirads__article-puntaje .calculator-title, .section-volumen__article .calculator-title, .section-volumen__article-puntaje .calculator-title {
        font-size: 1.2em;
    }

    .content-tirads__column label {
        font-size: .9em;
    }

    .content-tirads__column .tirads-ubicacion__label {
        font-size: .7em;
    }
    
    .btn-info, .btn-copy {
        font-size: .8em;
    }

    .lbl-puntos input {
        width: 50px;
    }

    .content-tirads__column-puntaje .caracteristicas , h3{
        font-size: 1em;
    }

    .radio-input {
        width: 20px;
        height: 20px;
        top: 27px;
    }

    .content-tirads__column-text textarea {
        font-size: .9em;
    }

}


/* PIRADS */

.main-pirads__section {
    margin-bottom: 20px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.main-pirads__section .calculator-title {
    background-color: #FFFFFF;
    display: inline;
    font-size: 1.7em;
    padding: 20px;
    position: relative;
    top: 20px;
}

.section-pirads__border {
    border: 5px solid #000000;
    border-radius: 8px;
    min-width: 300px;
    margin-bottom: 20px;
}

.section-pirads__content {
    padding: 20px 50px;
}

.section-pirads__content label {
    font-size: 1.1em;
}

.content-pirads__localizacion {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content-pirads__column { 
    margin: auto;
}

.content-pirads__column img { 
    width: 100%;
}

.content-pirads__column .localizacion-content {
    text-align: start;
    min-width: 10px;
    width: 300px;
}

.localizacion-color {
    cursor: pointer;
    margin: 10px 0;
    padding: 15px;
}

.localizacion-content label {
    cursor: pointer;
}

#periferica {
    background-color: #f6d8e0;
}

#transicion {
    background-color: #f5e576;
}

.content-pirads__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 20px 0;
}

.content-pirads__row label {
    text-align: start;
    margin: 5px;
    cursor: pointer;
}

.section-pirads__content-puntaje {
    display: flex;
    padding: 20px 50px;
}

.content-pirads__puntaje {
    margin: auto;
    width: 50%;
}

.content-pirads__puntaje h2 {
    font-size: 1.8em;
    margin: 40px 20px 20px;
}

.content-pirads__text-puntaje{
    display: inline;
    font-size: 1.3em;
    text-align: center;
}

.content-pirads__puntaje a {
    display: inline-block;
    margin: 20px;
}

.content-pirads__puntaje textarea {
    cursor: default;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    height: 170px;
    margin-bottom: 10px;
    padding: 5px 10px;
    position: relative;
    opacity: 70%;
    resize: none;
    width: 280px;
}

.content-pirads__puntaje textarea:focus {
    border: 2px solid rgba(var(--primary_color-rgb),0.5);
    box-shadow: rgba(var(--primary_color-rgb),0.2) 0px 7px 29px 0px;
}

#dwi {
    display: none;
}

#t2wi {
    display: none;
}

#contrasteDinamico {
    display: none;
}

.show {
    display: block;
    background-color: red;
}

@media screen and (max-width: 1400px) {
    .main-pirads__section {
        width: 80%;
    }
    
    .main-pirads__section .calculator-title {
        font-size: 1.6em;
    }

    .section-pirads__content {
        padding: 20px 40px;
    }
    
    .content-pirads__column .localizacion-content {
        width: 250px;
    }
    
    .content-pirads__row {
        margin: 20px 0;
    }

    
}

@media screen and (max-width: 920px) {
    .main-pirads__section {
        width: 100%;
    }
    
    .main-pirads__section .calculator-title {
        font-size: 1.4em;
    }
    
    .section-pirads__content label {
        font-size: 1em;
    }

    .section-pirads__content-puntaje {
        display: block;
        padding: 5px;
    }

    .content-pirads__puntaje {
        width: 100%;
    }
    
    .content-pirads__puntaje h2 {
        font-size: 1.6em;
    }
    
    .content-pirads__text-puntaje{
        font-size: 1.3em;
    }
    
    .content-pirads__puntaje textarea {
        font-size: 1em;
    }
}

@media screen and (max-width: 740px) {    
    .main-pirads__section .calculator-title {
        font-size: 1.2em;
    }
    
    .section-pirads__content {
        padding: 20px 15px;
    }

    .section-pirads__content label {
        font-size: .9em;
    }
    
    .content-pirads__column .localizacion-content {
        width: 100%;
    }

    .content-pirads__column img { 
        width: 75%;
    }
    
    .content-pirads__row {
        margin: 10px 0;
    }
    
    .content-pirads__puntaje h2 {
        font-size: 1.4em;
    }
    
    .content-pirads__puntaje textarea {
        font-size: .9em;
    }
}

/* VOLUMEN RADIOLOGICO */

#valorDefecto {
    /* display: none; */
}

#volumenTesticular {
    display: none;
}

#volumenProstatico {
    display: none;
}

#volumenTiroidal {
    display: none;
}

.article-volumen__content {
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 1em;
}

.content-volumen__column {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.content-volumen-column__row {
    padding: 1em;
    position: relative;
}

.content-volumen-column__row img {
    min-width: 55%;
    top: 0;
}

.content-volumen-column__row label {
    position: relative;
    display: block;
}

.content-tirads__column-puntaje h2 img{
    display: block;
    margin: auto;
}

.content-volumen__row {
    margin: 1em;
}

.valoresReferenciales {
    text-align: start;
    margin: 10px 5vw;
}

@media screen and (max-width: 920px) {
    .valoresReferenciales {
        text-align: start;
        margin: 10px 80px;
    }
}
